/* responsive file start here  */

/* responsive for mobile device  */
@media screen and (max-width: 576px) {
    .nav-container,
    .nav-menus,
    .banner-container,
    .gamer-container,
    .play-instant-container
    {
        flex-direction: column;
    }
    .nav-logo{
        justify-content: center;
    }
    .nav-menus{
        margin-top: 40px;
    }
    .nav-menus a{
        margin-bottom: 25px;
    }
    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
        gap: 0px;
    }
    .banner-content{
        width: auto;
        background-size: cover;
        padding: 30px;
        margin-top: 0;
    }
    .banner-img img{
        width: 95%;
    }
    .gamer-img{
        margin-left: 0px;
    }
    .gamer-img img{
        width: 98%;
    }
    .gamer-content{
        margin-right: 0px;
        text-align: center;
        padding: 40px;
    }
    .online-games-container{
        margin: 100px 0px;
    }
    .online-games-card{
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 10px;
    }
    .card{
        text-align: center;
    }
    .play-instant-container{
        margin-left: 0px;
        gap: 50px;
        margin-right: 0px;
    }
    .play-instant-content{
        text-align: center;
    }
    .play-instant-img img{
        width: 75%;
        margin-left: 80px;
    }
    .sub-img img{
        width: 40%;
        position: relative;
        top: -120px;
        left: -60px;
    }
}

/* responsive for tablet device  */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav-container,
    .banner-container,
    .gamer-container,
    .play-instant-container
    {
        flex-direction: column;
    }
    .nav-logo{
        justify-content: center;
    }
    .nav-menus{
        margin-top: 40px;
    }
    .banner-container{
        gap: 0;
    }
    .banner-content{
        width: 90%;
        background-size: cover;
        padding: 30px;
        margin-top: 0;
    }
    .banner-container,
    .gamer-container
    {
        flex-direction: column-reverse;
        align-items: center;
    }
    .gamer-img{
        margin-left: 0px;
    }
    .gamer-img img{
        width: 98%;
    }
    .gamer-content{
        margin-right: 0px;
        text-align: center;
        padding: 40px;
    }
    .online-games-container{
        margin: 100px 0px;
    }
    .online-games-card{
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 10px;
    }
    .card{
        text-align: center;
    }
    .play-instant-container{
        margin-left: 0px;
        gap: 50px;
        margin-right: 0px;
    }
    .play-instant-content{
        text-align: center;
    }
    .play-instant-img img{
        width: 75%;
        margin-left: 110px;
    }
    .sub-img img{
        width: 40%;
        position: relative;
        top: -200px;
        left: -90px;
    }
}