/* responsive file start here  */

/* responsive for mobile device  */
@media screen and (max-width: 576px) {
    .nav-container,
    .nav-menus,
    .banner-container
    {
        flex-direction: column;
    }
    .nav-logo{
        justify-content: center;
    }
    .nav-menus{
        margin-top: 40px;
    }
    .nav-menus a{
        margin-bottom: 25px;
    }
    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner-content{
        width: 90%;
        background-size: cover;
        padding: 30px;
    }
    .banner-img img{
        width: 95%;
    }
}

/* responsive for tablet device  */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav-container,
    .banner-container
    {
        flex-direction: column;
    }
    .nav-logo{
        justify-content: center;
    }
    .nav-menus{
        margin-top: 40px;
    }
    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
    }
}