/* font style for full website  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* primary style  */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    padding: 21px 40px;
    font-size: 1.1rem;
    font-weight: 600;
}

/* header style  */

/* nav section style  */
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    padding: 40px 0px;
    
}
.nav-logo{
    display: flex;
    align-items: center;
}
.company-name{
    margin-left: 20px;
    font-size: 2.8rem;
    font-weight: 700;
}
.company-name span{
   background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.nav-menus{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.nav-menus a{
    text-decoration: none;
    margin-left: 30px;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}
.special-manus{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 500;
}
.fa-brands{
    margin-left: 15px;
    font-size: 22px;
}
.fa-youtube{
    color: red;
}
.fa-tiktok{
    color: #1A6DFF;
}

/* banner section style  */
.banner-container{
    display: flex;
    gap: 50px;
}
.banner-content{
    width: 900px;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.goat{
    font-size: 5.9rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-text p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #534C64;
}
.fa-solid{
    color: #F948B2;
}
.fa-users{
    font-size: 11px;
}
button{
    margin-top: 30px;
    margin-right: 15px;
}
.banner-img{
    background: #FFF;
}